div .container strong {
    color:#C7EA46;
}

div .container strong .N {
    color: #ef746f;
    text-shadow: 1.5px 0.5px 5px #F5B7B1;
    transition: 0.6s ease-in-out;
}

#img{
    transition: 0.7s ease-in;
}
#img:hover{
transform: rotate(360deg);
}